
*
{
  font-family: monospace;
}

html, body
{
  border: 2px solid black;
  width: 90vw;
  margin: 0 auto;
}

.film-container
{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 1%; 
}

.form-container
{
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}